body {
  background-color: #A5BECC;
  color: #293462;
  font-family: "Garamond";
  font-size: 18px;
  font-weight: bold;
}

hr {
  background-color: none;
  border-style: dotted none none none;
  height: 3px;
  width: 6%;
  border-width: 6px;
  border-color: darkgray;
}

h1 {
  color: #293462;
}

h2 {
  color: #293462;
}

h3 {
  color: #293462;
}
